
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');

:root {
    --font-size-body: 14px;
    --font-size-body-larger: 16px;
    --font-size-body-big: 18px;
    --font-size-body-huge: 20px;
    --layout-main-width: 1200px;
    --color-pink-default: #ebd8d2; //#efd6d6;
    --color-blue-default: #1B3D52;
    --spacing-layout-elements: 2em;

}
@font-face {
    font-family: "blackstand";
    src: url('./font/Blackstand.ttf');
}
body {
    font-size: var(--font-size-body);
    margin     : 0;
    font-family:'Cinzel', serif;
}
*,
*:before,
*::after {
    margin    : 0;
    padding   : 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Cinzel';
}
@mixin bp($point) {
    @if $point==desktop-large {
        @media (min-width: 1600px) {
            @content;
        }
    }
    @else if $point==desktop {
        @media (min-width: 1250px) {
            @content;
        }
    }
    @else if $point==laptop {
        @media (min-width: 1024px) {
            @content;
        }
    }
    @else if $point==mobile {
        @media (max-width: 1023px) {
            @content;
        }
    }
    @else if $point==phone {
        @media (max-width: 650px) {
            @content;
        }
    }
}
