
@mixin bp($point) {
    @if $point==desktop-large {
        @media (min-width: 1600px) {
            @content;
        }
    }
    @else if $point==desktop {
        @media (min-width: 1250px) {
            @content;
        }
    }
    @else if $point==laptop {
        @media (min-width: 1024px) {
            @content;
        }
    }
    @else if $point==mobile {
        @media (max-width: 1023px) {
            @content;
        }
    }
    @else if $point==phone {
        @media (max-width: 650px) {
            @content;
        }
    }
}
@media screen and (max-width: 780px) {
    .swiper-container {
      width: 100vh;
      max-width: 100vh;
    }
  }


// @include bp(mobile) {
//     .mySwiper{
//         width: 100vw;
//         max-width:100vw;
//     }
// }


.new-collection  {
    .mySwiper{
        width: 1200px;
        height: 420px;
    }
    .mySwiper .swiper-slide {
        
        opacity: 1;
    } 
    .product-options{
        display:flex;
        align-items:center;
        justify-content: center;
        .product-price-inner{
            flex: 1 1 30%;
            align-items: center;
            justify-content: center;
        }
        product-add{
            flex: 1 1 70%;
            align-items: center;
            justify-content: center;
            padding: 2em 0;
           .btn-pink{
               width: 100%;
           }
        }
    }
 
    .product-image {
        position: relative;
        display:flex;
        align-items: center;
        justify-content: center;
        .semi-transparent-button {
            // top: 35%;
            // left:15%;
            margin: 0 auto;
            // padding: 0.5em;
            height: 15%;
            width: 100%;
            max-width: 8em;
            background: #fff; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.5);
            color: #fff;
            text-align: center;
            line-height: 100%;
            text-decoration: none;
            letter-spacing: 1px;
            transition: all 0.3s ease-out;
            border: none;
          }
    }
    .product-inner:hover{
        padding:2px;
        border-color: var(--color-pink-default);
    }
    .header-section{
        position: relative;
        h2 {
            text-transform: uppercase;
        }
        h2:after {
            content: '';
            height: 2px;
            width: 50px;
            background: var(--color-pink-default, lightgray);
            position: absolute;
            bottom: -5px;
            left: 50%;
            margin-left: -25px;
        }
    }
    .product-inner{
        height: 100%;
    }
     .product-image {
         height: 70%;
     }
     .product-info {
        height: 30%;
        .product-name {
            height: 50%;
        }
        .product-bar{
            height: 50%;
        }
    }

  }
  .product-options {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .btn-pink {
          width: 60%;
          padding: 0.5em 0.8em;
      }
  }
  