@mixin bp($point) {
    @if $point==desktop-large {
        @media (min-width: 1200px) {
            @content;
        }
    }
    @else if $point==desktop {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $point==tablet {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $point==mobile {
        @media (max-width: 767.9px) {
            @content;
        }
    }
    @else if $point==phone {
        @media (max-width: 650px) {
            @content;
        }
    }
}
 
.site-footer {
    // border-top: 1px solid;
    background-color:  var(--color-pink-default);
    color: var(--color-blue-default);
    nav {
       
    }
   .footer-container{
    display: flex;
    background:white;
   }
   .logo {
       display:flex;
       flex-flow:column;
       align-items: center;
       font-weight: bold;
       background:white;
   }
   .nav-footer ul {
    display:flex;
    flex-flow:column;
    align-items: center;
    background:white;
   }
    .contacts, .collections, .subscribe{
        display:flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        }
}
.contacts-footer{
    width: 30%;
}
.subscribe{
    width: 30%;
}
.collections{
    width: 30%;
    padding:0;
    margin:0;
}
.newsletter{
    width: 100%;
    padding-left: 62px;
    padding-right: 62px;
     padding-bottom:10px;
     background: rgba(77, 74, 74, 0.5);
    // background: url(https://res.cloudinary.com/dszjcx6ai/image/upload/v1632320453/et5zqgvd01do2ptascz2.jpg) no-repeat center center fixed ;
    color:white;
   
    .newsletter_content {
        width: 100%;
        padding-top: 5px;
        
        .container {
            max-width: 960px;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            .row {
                display: flex;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
                .section_title{
                    color:white;
                    font-weight: bold;
                    padding-bottom:10px;
                }
                .col{
                    position: relative;
                    width: 100%;
                    min-height: 1px;
                    padding-right: 15px;
                    padding-left: 15px;
                    text-align: center
                }
            }
            .col-lg-10 {
                flex: 0 0 83.333333%;
                max-width: 83.333333%;
                display: block;
                position: relative;
               
            }
                input{
                    width: 100%;
                    height: 30px;
                    background: #FFFFFF;
                    padding-left: 25px;
                    border: none;
                    outline: none;
                    overflow: visible;
                }
                .newsletter_button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 142px;
                    height: 30px;
                    background: var(--color-pink-default);
                    color: #FFFFFF;
                    font-size: 12px;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    transition: all 200ms ease;
                    overflow: visible;
                }
            }
        }
    }
footer ul {
 
    display: flex;
    justify-content: center;
    flex: 0 1 100%;
    min-height: 100%;
    background:white;
   li{
       padding: 0.5em 1.5em;
   }
 
}

footer li .fa{
    font-size: 24px;
}

   