.StripeCheckout span{
background-image: linear-gradient(rgb(215,199,192), rgb(156,145,142)100%, rgb(156,145,142)) !important;
}
#submitButton{
    background:  rgb(156,145,142) !important;
    background-image: linear-gradient(rgb(215,199,192), rgb(156,145,142)100%, rgb(156,145,142)) !important;
    span{
        border: 1px solid rgb(156,145,142) !important;
    }
}